body, .container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

:root {
    --columnNumber: 4;
}

.container {
    display: grid;
    grid-template-columns: repeat(var(--columnNumber), 1fr);
    top: 25%;
    height: 75%;
    margin: 0 auto;
    border: solid 12px;
    border-color: black;
    width: 50%;
    height: 50%;
    border-radius: 5px;
}

.cell {
    display: inline-block;
    margin: 1px;
    border: 1px solid;
    border-style: solid;
}

.btn {
    position: relative;
    display: block;
    top: 10%;
    margin: 0 auto;
    box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;
    background: linear-gradient(rgb(249, 249, 249) 5%, rgb(233, 233, 233) 100%) rgb(249, 249, 249);
    border-radius: 6px;
    border: 1px solid rgb(220, 220, 220);
    cursor: pointer;
    color: rgb(102, 102, 102);
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
}